@page "/"

@using Microsoft.EntityFrameworkCore
@using Refrase.Model
@using Refrase.Model.Videos

@inject IDbContextFactory<RefraseContext> ContextFactory

<span>@DateTime.Now.ToString("G")</span>

<h1>
    <a href="/swagger">Swagger</a>
</h1>

<h1>queue</h1>

@if (!queue.Any())
{
    <span>empty</span>
}

@foreach (QueuedVideo video in queue)
{
    bool reEncoded = video.Status >= AnalysisStatus.ReEncoded;
    bool metadataImported = video.Status >= AnalysisStatus.MetadataImported;
    bool framesCreated = video.Status >= AnalysisStatus.FramesCreated;
    bool framesHashed = video.Status >= AnalysisStatus.FramesHashed;

    <fieldset>
        @if (string.IsNullOrEmpty(video.Url))
        {
            <legend>@video.Category: @video.Name</legend>
        }
        else
        {
            <legend>
                <a href="@video.Url" target="_blank">@video.Category: @video.Name</a>
            </legend>
        }

        <div>imported: @video.Imported.ToLocalTime().ToString("G")</div>

        <label>
            <input type="checkbox" checked="@reEncoded" readonly/>
            <span>re-encoded</span>
        </label>
        <br/>

        <label>
            <input type="checkbox" checked="@metadataImported" readonly/>
            <span>metadata imported</span>
        </label>
        @if (metadataImported)
        {
            <span> - resolution: @video.Width x @video.Height</span>
            <span>duration: @video.Duration.ToString("hh':'mm':'ss"),</span>
            <span>frame rate: @video.FrameRate</span>
        }
        <br/>

        <label>
            <input type="checkbox" checked="@framesCreated" readonly/>
            <span>frames created</span>
        </label>
        @if (framesCreated)
        {
            <span> - frame count: @video.FrameCount</span>
        }
        <br/>

        <label>
            <input type="checkbox" checked="@framesHashed" readonly/>
            <span>frames hashed</span>
        </label>
        @if (framesCreated)
        {
            <span> - </span>
            <progress style="width: 500px;" value="@video.HashedFrameCount" max="@video.FrameCount"></progress>
            <span>@video.HashedFrameCount / @video.FrameCount</span>
        }
        <br/>

    </fieldset>
    <br/>
}

<h1>completed</h1>

@foreach (CompletedVideo video in completed)
{
    <fieldset>
        @if (string.IsNullOrEmpty(video.Url))
        {
            <legend>@video.Category: @video.Name</legend>
        }
        else
        {
            <legend>
                <a href="@video.Url" target="_blank">@video.Category: @video.Name</a>
            </legend>
        }

        <div>resolution:  @video.Width x @video.Height</div>
        <div>duration:    @video.Duration.ToString("hh':'mm':'ss")</div>
        <div>frame rate:  @video.FrameRate</div>
        <div>frame count: @video.FrameCount</div>
        <div>analyzed: @video.Analyzed.ToLocalTime().ToString("G")</div>
    </fieldset>
    <br/>
}

@code
{
    private record QueuedVideo(
        string Name,
        string Category,
        string? Url,
        AnalysisStatus Status,
        int Width,
        int Height,
        int FrameCount,
        float FrameRate,
        TimeSpan Duration,
        int HashedFrameCount,
        DateTime Imported
    );

    private record CompletedVideo(
        string Name,
        string Category,
        string? Url,
        int Width,
        int Height,
        int FrameCount,
        float FrameRate,
        TimeSpan Duration,
        DateTime Analyzed
    );

    private QueuedVideo[] queue = [];
    private CompletedVideo[] completed = [];

    protected override async Task OnInitializedAsync()
    {
        await using RefraseContext context = await ContextFactory.CreateDbContextAsync();

        queue = await context.Videos
            .Where(v => v.Status != AnalysisStatus.Completed)
            .OrderBy(v => v.Imported)
            .Select(v => new QueuedVideo(
                v.Name,
                v.Category,
                v.Url,
                v.Status,
                v.Width,
                v.Height,
                v.FrameCount,
                v.FrameRate,
                v.Duration,
                v.Frames.Count(f => f.Hash != null),
                v.Imported))
            .ToArrayAsync();

        completed = await context.Videos
            .Where(v => v.Status == AnalysisStatus.Completed)
            .OrderByDescending(v => v.Imported)
            .Select(v => new CompletedVideo(
                v.Name,
                v.Category,
                v.Url,
                v.Width,
                v.Height,
                v.FrameCount,
                v.FrameRate,
                v.Duration,
                v.Analyzed!.Value))
            .ToArrayAsync();
    }
}
